.g-col-lg-12 {
    width: 100%;

}

.seller-profile-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #fff;
    padding: var(--bl-size-m);
}

.g-d-direction-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.g-d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.g-d-direction-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.g-d-align-center, .g-d-align-items-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.g-image {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.brand-logo {
    min-width: 50px;
}

.brand-logo img {
    border-radius: 100%;
    border: 1px solid var(--mid-grey-800);
}

.g-px-20 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.g-d-justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.seller-name-wrapper .seller-name {
    font: var(--bl-font-title-2-medium);
}

.seller-name-wrapper .seller-id {
    font: var(--bl-font-title-2-regular);
}


.seller-info-wrapper, .seller-info-wrapper .seller-score-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.seller-info-wrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: var(--bl-size-2xs);
}

.profile-budgets-wrapper, .profile-budgets-wrapper .first-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: var(--bl-size-3xs);
}

.profile-budgets-wrapper .first-group, .profile-budgets-wrapper .strike-points-budget {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.profile-budgets-wrapper .first-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.profile-info-budget-wrapper.fixed-with {
    min-width: 266px;
}

.profile-info-budget-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: var(--bl-color-neutral-lightest);
    padding: var(--bl-size-2xs);
    border-radius: 6px;
    border: 1px solid transparent;
    font: var(--bl-font-title-3-regular);
}

.profile-info-budget-wrapper .label-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.profile-info-budget-wrapper .label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: var(--bl-size-3xs);
    margin-right: var(--bl-size-3xs);
    font: var(--bl-font-title-4-regular);
}

.profile-info-budget-wrapper .value {
    font: var(--bl-font-title-4-medium);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.profile-budgets-wrapper .operation-status {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
}

.profile-info-budget-wrapper.success, .profile-info-budget-wrapper.success-highlight {
    background-color: var(--bl-color-success-contrast);
}

.profile-info-budget-wrapper.fixed-with {
    min-width: 266px;
}

.sc-link {
    color: inherit !important;
}

.profile-info-budget-wrapper .success {
    color: var(--bl-color-success) !important;
}

.profile-info-budget-wrapper .value {
    font: var(--bl-font-title-4-medium);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.profile-info-budget-wrapper .sub-title-wrapper {
    font: var(--bl-font-title-4-regular);
}

.profile-info-budget-wrapper b {
    font-weight: 500 !important;
}


.notification-wrapper {
    height: 366px;
}

.notification-wrapper .notification-title-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: var(--spacing-12);
}


.notification-wrapper .notification-list {
    overflow-x: scroll;
    padding: 0 0 0 4px;
}

.notification-wrapper .notification-list li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.notification-wrapper .notification-list li:first-child .dashboard-notification-item {
    padding-top: 0;
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}

.sc-link {
    color: inherit !important;
}

.dashboard-notification-item .notification-detail .notification-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.dashboard-notification-item.action-based * {
    text-decoration: none !important;
    cursor: default !important;
}

.dashboard-notification-item .notification-detail .notification-header .unread-notification-date, .dashboard-notification-item .notification-detail .notification-header .unread-notification-label {
    color: var(--bl-color-content-secondary);
}

.dashboard-notification-item .notification-detail .notification-header .notification-date, .dashboard-notification-item .notification-detail .notification-header .notification-label {
    font: var(--bl-font-title-4-regular);
    color: var(--bl-color-content-tertiary);
}

.dashboard-notification-item.action-based * {
    text-decoration: none !important;
    cursor: default !important;
}

.dashboard-notification-item .notification-detail .unread-notification-short-desc {
    color: var(--bl-color-secondary);
}

.dashboard-notification-item .notification-detail .notification-short-desc {
    font: var(--bl-font-title-3-regular);
    color: var(--bl-color-content-secondary);
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.notification-wrapper .notification-title-wrapper .notification-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font: var(--bl-font-title-2-medium);
}
.notification-wrapper .notification-title-wrapper .notification-title .unread-notification-count {
    color: var(--bl-color-primary);
    font-weight: 500;
}

  .g-text-main-grey-500 {
     color: #273142;
 }

.dashboard-notification-item.action-based * {
    text-decoration: none !important;
    cursor: default !important;
}

.dashboard-notification-item .notification-detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #e7f9ef;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    padding: 10px;
    flex-flow: column;
    gap: 8px;
    -webkit-box-flex: 5;
    -ms-flex: 5;
    flex: 5;
}

.dashboard-notification-item.action-based * {
    text-decoration: none !important;
    cursor: default !important;
}

.dashboard-notification-item > :first-child {
    margin-bottom: var(--bl-size-xs);
}

.dashboard-notification-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
    padding-top: 12px;
    list-style: none;
    word-break: break-word;
    cursor: pointer;
}

.g-rad-md {
    border-radius: var(--radius-md);
}

.g-mb-24 {
    margin-bottom: 24px !important;
}

.g-pt-24 {
    padding-top: 24px !important;
}


.g-px-24 {
    padding-left: 24px !important;
    padding-right: 24px !important;
}

.g-pb-16 {
    padding-bottom: 16px !important;
}

.g-bg-white {
    background-color: #fff;
}

.g-d-direction-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.g-pb-10 {
    padding-bottom: 10px !important;
}
